@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
$border-radius: 20px;
$font-family: "Outfit", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
body {
  background-color: #cccc;
  .container {
    border-radius: $border-radius;
    padding: 15px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    img {
      border-radius: $border-radius;
      margin-bottom: 1em;
      width: 300px;
      height: 300px;
    }
    h2 {
      font-family: $font-family;
      font-size: 1.5em;
      margin-bottom: 0.5em;
      color: hsl(218, 44%, 22%);
    }
    p {
      font-size: 15px;
      font-family: $font-family;
      color: hsl(220, 15%, 55%);
    }
  }
}
@media (max-width: 375px) {
  body {
    background-color: black;
  }
}
